### /Users/cb/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
deps/
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### /Users/cb/.gitignore-boilerplates/Global/Vim.gitignore

.*.sw[a-z]
*.un~
Session.vim
.netrwhist

*.tar
*.elc

